<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<context-param>

	<param-name>max-shopping-cart-size</param-name>
	<param-value>99</param-value>

</context-param>

<context-param>

	<param-name>project-team-name</param-name>
	<param-value>The Coding Gurus</param-value>

</context-param>

</web-app>